@import url("https://use.typekit.net/hpa8gop.css");
@import-normalize;

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  outline: 0;
}

html {
  scroll-behavior: smooth;
  --scroll-behavior: smooth;
}

.app {
  overflow-y: scroll;
  scroll-behavior: smooth;
  --scroll-behavior: smooth;
  max-height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  font-family: 'proxima-nova', sans-serif;
}


@media (max-width: 1024px) {
  .app {
    scroll-snap-points-y: none;
    scroll-snap-type: none;
  }
  
}

.fixedNav {
  position: fixed;
  top: 0;
  z-index: 1000;
  opacity: 0;
  transition: opacity 200ms;
  background: #FFFFFF;
  padding-top: 15px;
  width: 100%;
  min-height: 40px;
  border-bottom: 1px solid black;
}

.nav-enter {
  opacity: 1;
  transition: opacity 200ms;
}

.nav-enter-done{
  opacity: 1;
  transition: opacity 200ms;
} 

.nav-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.nav-exit {
  opacity: 0;
  transition: opacity 200ms;
}
.nav-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.nav-exit-done {
  opacity: 0;
  transition: opacity 200ms;
}

.bio {
  max-height: 0;
}

.bio-enter {
  max-height: 0vh !important;
  transition: max-height 200ms;
}

.bio-enter-done {
  max-height: 100vh !important;
  transition: max-height 200ms;
} 

.bio-enter-active {
  max-height: 50vh !important;
  transition: max-height 200ms;
}
.bio-exit {
  max-height: 100vh !important;
  transition: max-height 200ms;
}
.bio-exit-active {
  max-height: 0vh !important;
  transition: max-height 200ms;
}

.bio-exit-done {
  max-height: 0;
  transition: max-height 200ms;
}