@import url("https://use.typekit.net/hpa8gop.css");
@import-normalize;

@font-face {
  font-family: 'Avenir';
  font-weight: 900;
  src: local('Avenir'), url(./assets/fonts/AvenirLTStd-Heavy.ttf) format('ttf');
}

@font-face {
  font-family: 'Avenir';
  font-style: italic;
  src: local('Avenir'), url(./assets/fonts/AvenirLTStd-Heavy-Oblique.ttf) format('ttf');
}

@font-face {
  font-family: 'ChangaOne';
  font-weight: 500;
  src: local('Avenir'), url(./assets/fonts/ChangaOne-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'ChangaOne';
  font-style: italic;
  src: local('Avenir'), url(./assets/fonts/ChangaOne-Italic.ttf) format('ttf');
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  outline: 0;
}

html {
  scroll-behavior: smooth;
  --scroll-behavior: smooth;
}

.app {
  overflow-y: scroll;
  scroll-behavior: smooth;
  --scroll-behavior: smooth;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  font-family: 'Avenir';
}


@media (max-width: 1024px) {
  .app {
    scroll-snap-points-y: none;
    scroll-snap-type: none;
  }
  
}

.fixedNav {
  position: fixed;
  top: 0;
  z-index: 1000;
  opacity: 0;
  transition: opacity 200ms;
  background: #FFFFFF;
  padding-top: 15px;
  width: 100%;
  min-height: 40px;
  border-bottom: 1px solid black;
}

.nav-enter {
  opacity: 1;
  transition: opacity 200ms;
}

.nav-enter-done{
  opacity: 1;
  transition: opacity 200ms;
} 

.nav-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.nav-exit {
  opacity: 0;
  transition: opacity 200ms;
}
.nav-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.nav-exit-done {
  opacity: 0;
  transition: opacity 200ms;
}

